<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.binarapps.payusample"
  xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!-- PayU SDK configuration -->
    <activity
      android:name="com.payu.android.sdk.payment.ui.NewCardActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name="com.payu.android.sdk.payment.ui.PaymentMethodListActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name="com.payu.android.sdk.payment.ui.LocalCardCheckActivity"
      android:screenOrientation="portrait"
      android:theme="@android:style/Theme.Translucent" />
    <activity
      android:name="com.payu.android.sdk.payment.ui.LoginActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name="com.payu.android.sdk.payment.ui.PaymentActivity"
      android:screenOrientation="portrait"
      android:theme="@android:style/Theme.Translucent" />
    <activity
      android:name="com.payu.android.sdk.payment.ui.AuthorizationActivity"
      android:screenOrientation="portrait"
      android:theme="@android:style/Theme.Translucent" />
    <activity
      android:name="com.payu.android.sdk.payment.ui.StrongAuthorizationActivity"
      android:screenOrientation="portrait" />

    <service
      android:name="com.payu.android.sdk.payment.service.PaymentEntrypointService"
      android:exported="false" />
  </application>

</manifest>